body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#formulario {
    margin-bottom: 20px;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultados {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

#resultados h2 {
    margin-top: 0;
}
